---
title: Performance Upgrades
tags: ['service']
description: Driven Garage nothern California restomod auto customization and repair shop
featuredImage: /_images/67_Camaro01.jpg
---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

    {% include "hero-services.njk" %}


    <section class="projects">
        <div class="container">
          <h2>Upgrade your Ride</h2>
          <h3>If you are like us, it's hard to stop modifying and looking for areas that can be improved. It's been a long time since your car was produced, and you might be surprised to find out what's available for your vehicle to improve overall performance.</h3>
        </div>

<style>
.container.feat-layout {
    margin: 0 auto 6rem auto;
}
.feat-body {
    margin: 4rem 2rem 0 0;
    padding: 1.4rem;
    background-color: #363636;
    color: #fff;
}
.feat-body h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #f79837;
}
.feat-over {
    min-height: 12rem;
}
.feat-layout figure img {
    max-height: 544px;
}

.feat-body .cta-bar h3 {
    margin: 1rem 0 0 4.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

</style>
        <div class="container feat-layout">
            <div class="feat-over is-overlay">
                <div class="columns">
                    <div class="column">
                    </div><!-- END 1 col -->
                    <div class="column">
                        <div class="feat-body">
                            <h3>Engine Swaps</h3>
                            <p>The sky is the limit here, but if your worn out motor has you limping around town, there are a ton of great options out there depending on what you are looking to accomplish.</p>
                            <p>If your original engine is shot and you’d like to replace it with a crate engine – or if you’ve been dreaming of dropping a modern LS motor to refresh your classic, you’ve come to the right place. Give us a call or complete the  work request form to discuss options for your classic.</p>
                            <div class="level-item cta-bar">
                                <h3>Need A Custom Build?</h3>
                                <div class="control">
                                  <a class="button is-primary slant js-modal-trigger" data-target="modal-js-example" href="#" target="_self"><h4>Let’s Talk  > </h4></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END 2 col -->
                </div>


            </div><!-- END feat-over is-overlay -->

            <figure>
                <img src="{{ rootPath }}_images/67_Camaro01.jpg" alt="67 Nova body gaps">
            </figure>    

        </div><!-- END container -->
      





        <div class="body-full">
          <div class="bkg-stripe primary">
            <div class="container">
              <h3>EFI Conversions</h3>
            </div>
          </div>
          <div class="container">
            <div class="columns">
              <div class="column">
                <img src="{{ rootPath }}_images/CCS_Inition_distributor.jpg" alt="CCS Inition distributor">
              </div>
              <div class="column">
                <!-- <h3>’67 Chevy Nova</h3> -->
                
                <p>Very few updates deliver more performance dollar-for-dollar than a conversion to electronic ignition. Not only will you no longer have to deal with the constant maintenance from your points and condenser, you’ll also get better fuel economy, and your car will be easier to start (plus, you won’t burn up your points from something as simple as leaving the key on). Still not convinced? Electronic ignition will allow your spark plugs to deliver a better spark, which will give you better combustion and – wait for it – more power!</p>
                <p>We offer Holley Sniper packages and Port Injection. We'll tune your build to get your ride running right.</p>
            </div>
            </div><!-- END columns -->
          </div>
        </div><!-- END body-full -->
      
        <div class="body-full">
          <!-- <div class="halftone-overlay"></div> -->
          <div class="container">
            <div class="columns">
              <div class="column">
                <div class="galitem">
                  <figure class="image">
                    <div class="control">
                      <a href="#" target="_self">
                        <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                      </a>
                    </div>
                    <img src="{{ rootPath }}_images/001-corvette-holley-efi-sniper-quadrajet-throttle-body.jpg" alt="Custom fabricated exhaust">
                  </figure>
                </div><!-- END galitem -->
              </div>
      
              <div class="column">
                <div class="galitem">
                  <figure class="image">
                    <div class="control">
                      <a href="#" target="_self">
                        <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                      </a>
                    </div>
                    <img src="{{ rootPath }}_images/wngrogs_FJ60_FI_Conversion.jpg" alt="67 Nova body gaps">
                  </figure>
                </div>
              </div>
      
              <div class="column">
                <div class="galitem">
                  <figure class="image">
                    <div class="control">
                      <a href="#" target="_self">
                        <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                      </a>
                    </div>
                    <img src="{{ rootPath }}_images/67_Camaro01.jpg" alt="67 Nova body gaps">
                  </figure>
                </div><!-- END galitem -->
              </div>
      
            </div><!-- END columns -->
          </div><!-- END container -->
      
        </div><!-- END body-full -->
      </section>








      <section class="services">
        <div class="container">
            <h2>All Performance Upgrades We Offer</h2>
            <h3>Get your classic back on the road, get it serviced, or make it perform better!</h3>
          </div>
        
        <div class="container">
          <div class="columns">
      
            <div class="column is-one-third">
              <div class="feat-item-over">
                <a href="services/repair-and-maintenance/" aria-labelledby="person1"></a>
                <img src="{{ rootPath }}_images/65_Mustang_quick_service.jpg" alt="65 Mustang quick service" loading="lazy" style="object-position: 0px 0px;">
                <div class="item__overlay">
                  <div class="card-halftone-overlay"></div>
                  <h3 aria-hidden="true">Power Steering Conversions</h3>
                  <div class="item__body">
                    <ul>
                      <li>Hydraulic steering</li>
                      <li>Electric steering</li>

                    </ul>
                    <div class="control">
                      <a href="#" target="_self">click for more
                        <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- END column 1 -->
      
            <div class="column is-one-third">
              <div class="feat-item-over">
                <a href="/services/performance-upgrades" aria-labelledby="person1"></a>
                <img src="{{ rootPath }}_images/67_Camaro01.jpg" alt="67 Camaro engine" loading="lazy" style="object-position: 0px 0px;">          
                <div class="item__overlay">
                  <div class="card-halftone-overlay"></div>
                  <h3 aria-hidden="true">Transmission swaps</h3>
                  <div class="item__body">
                    <ul>
                      <li>Automatic swaps</li>
                      <li>Manual Conversions</li>
                    </ul>
                    <div class="control">
                      <a href="#" target="_self">click for more
                        <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- END column 2 -->
      
            <div class="column is-one-third">
              <div class="feat-item-over">
                <a href="services/body-paint-metalwork" aria-labelledby="person1"></a>
                <img src="{{ rootPath }}_images/55buick-6220.jpg" alt="55 Buick" loading="lazy" style="object-position: 0px 0px;">
                
                <div class="item__overlay">
                  <div class="card-halftone-overlay"></div>
                  <h3 aria-hidden="true">Rear end / gears</h3>
                  <div class="item__body">
                    <ul>
                      <li>Gearing changes / re-builds</li>
                      <li>Positraction upgrades</li>
                      <li>Axle Narrowing service</li>
                    </ul>
                    <div class="control">
                      <a href="#" target="_self">click for more
                        <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- END column 3 -->
      
          </div><!-- END  columns -->
      
      
      
      <!-- SECOND ROW -->
          <div class="columns">
      
            <div class="column is-one-third">
              <div class="feat-item-over">
                <a href="services/custom-fabrication" aria-labelledby="person1"></a>
                <img src="{{ rootPath }}_images/Exhaust_custom_stainless.jpg" alt="Exhaust custom stainless" loading="lazy" style="object-position: 0px -7rem;">
                <div class="item__overlay">
                  <div class="card-halftone-overlay"></div>
                  <h3 aria-hidden="true">Suspension upgrades</h3>
                  <div class="item__body">
                    <ul>
                        <li>Handling packages</li>
                        <li>Coil-over conversions</li>
                        <li>Air Ride</li>
                        <li>Custom nabbed suspension</li>
                        <li>Truck Lift kits</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- END row 2 - column 1 -->
      
      
            <div class="column is-one-third">
              <div class="feat-item-over">
                <a href="#0" aria-labelledby="person1"></a>
                <img src="{{ rootPath }}_images/70_Mustang03_radio.jpg" alt="70 Mustang03 radio" loading="lazy" style="object-position: 0px 0px; transform: scale(1.3);">
                <div class="item__overlay">
                  <div class="card-halftone-overlay"></div>
                  <h3 aria-hidden="true">Power Adders</h3>
                  <div class="item__body">
                    <ul>
                        <li>Superchargers</li>
                        <li>Turbos</li>
                        <li>Nitrous</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- END row 2 - column 2 -->
      
      
            <div class="column is-one-third">
              <div class="feat-item-over">
                <a href="#0" aria-labelledby="person1"></a>
                <img src="{{ rootPath }}_images/Mopar_muscle_prime-6082.jpg" alt="Mopar muscle prime 6082" loading="lazy" style="object-position: 0px 0px;">
                <div class="item__overlay">
                  <div class="card-halftone-overlay"></div>
                  <h3 aria-hidden="true">Brake Upgrades</h3>
                  <div class="item__body">
                    <ul>
                        <li>Disc Brake conversions</li>
                        <li>Manual to Power brake</li>
                        <li>Hydroboost</li>
                        <li>Big Brake kits</li>
                        <li>Parking Brake</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- END row 2 - column 2 -->
      
      
          </div><!-- END Row 2 -->
      

      <!-- THIRD ROW -->
      <div class="columns">
      
        <div class="column is-one-third">
          <div class="feat-item-over">
            <a href="services/custom-fabrication" aria-labelledby="person1"></a>
            <img src="{{ rootPath }}_images/Exhaust_custom_stainless.jpg" alt="Exhaust custom stainless" loading="lazy" style="object-position: 0px -7rem;">
            <div class="item__overlay">
              <div class="card-halftone-overlay"></div>
              <h3 aria-hidden="true">Cooling Upgrades</h3>
              <div class="item__body">
                <ul>
                    <li>Radiator swaps</li>
                    <li>Electric fans & Controllers</li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- END row 2 - column 1 -->
  
  
        <div class="column is-one-third">
          <div class="feat-item-over">
            <a href="#0" aria-labelledby="person1"></a>
            <img src="{{ rootPath }}_images/70_Mustang03_radio.jpg" alt="70 Mustang03 radio" loading="lazy" style="object-position: 0px 0px; transform: scale(1.3);">
            <div class="item__overlay">
              <div class="card-halftone-overlay"></div>
              <h3 aria-hidden="true">Wiring and electrical</h3>
              <div class="item__body">
                <ul>
                    <li>Electrical Repair</li>
                    <li>Complete re-wire</li>
                    <li>LED light conversions</li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- END row 2 - column 2 -->
  
  
        <div class="column is-one-third">
          <div class="feat-item-over">
            <a href="#0" aria-labelledby="person1"></a>
            <img src="{{ rootPath }}_images/Mopar_muscle_prime-6082.jpg" alt="Mopar muscle prime 6082" loading="lazy" style="object-position: 0px 0px;">
            <div class="item__overlay">
              <div class="card-halftone-overlay"></div>
              <h3 aria-hidden="true">Additional Upgrades</h3>
              <div class="item__body">
                <ul>
                    <li>AC System installations</li>
                    <li>Custom wheels and tires</li>
                    <li>Serpentine Conversions</li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- END row 2 - column 2 -->
  
  
      </div><!-- END Row 3 -->


        </div>
      </section>




      





    <section class="services-listing">

<!-- TESTING Performance contained -->


<div class="container perf-long">
    <div class="halftone-overlay"></div>
    <div class="sec-bkg-img">
      <img src="{{ rootPath }}_images/65_Mustang_quick_service.jpg" alt="65 Mustang quick service">
    </div>
    <div class="hero-body is-overlay">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <h1 class="title">Complete Performance Upgrades We Offer</h1>
                </div>
                <div class="column is-two-third">


                    <div class="columns">
                        <div class="column">
                            <ul>
                                <li>Power Steering Conversions</li>
                                <ul>
                                    <li>Hydraulic steering</li>
                                    <li>Electric steering</li>
                                </ul>
                                <li>Transmission swaps</li>
                                <ul>
                                    <li>Automatic swaps</li>
                                    <li>Manual Conversions</li>
                                </ul>
                                <li>Rear end / gears</li>
                                <ul>
                                    <li>Gearing changes / re-builds</li>
                                    <li>Positraction upgrades</li>
                                    <li>Axle Narrowing service</li>
                                </ul>
                                <li>Custom wheels and tires</li>
                                
                            </ul>
                        </div><!-- END 1 column -->
                        <div class="column"><!-- START 2 column -->
                            <ul>
                                <li>Suspension upgrades</li>
                                <ul>
                                    <li>Handling packages</li>
                                    <li>Coil-over conversions</li>
                                    <li>Air Ride</li>
                                    <li>Custom nabbed suspension</li>
                                    <li>Truck Lift kits</li>
                                </ul>
                                <li>Power Adders</li>
                                <ul>
                                    <li>Superchargers</li>
                                    <li>Turbos</li>
                                    <li>Nitrous</li>
                                </ul>
                                <li>AC System installations</li>
                                <li>Serpentine Conversions</li>
            
                            </ul>
                        </div><!-- END 2 column -->
                        <div class="column"><!-- START 3 column -->
                            <ul>
                                <li>Brake Upgrades</li>
                                <ul>
                                    <li>Disc Brake conversions</li>
                                    <li>Manual to Power brake</li>
                                    <li>Hydroboost</li>
                                    <li>Big Brake kits</li>
                                    <li>Parking Brake</li>
                                </ul>
                                <li>Cooling Upgrades</li>
                                <ul>
                                    <li>Radiator swaps</li>
                                    <li>Electric fans & Controllers</li>
                                </ul>
                                <li>Wiring and electrical</li>
                                <ul>
                                    <li>Electrical Repair</li>
                                    <li>Complete re-wire</li>
                                    <li>LED light conversions</li>
                                </ul>
                            </ul>
            
            
                        </div><!-- END 3 column -->
                    </div><!-- END columns -->

                </div><!-- END column is-two-third -->
            </div>

        </div>
    </div><!-- END hero-body is-overlay -->

</div><!-- END container 1 row -->

<!-- END - TESTING Performance contained -->

    
    </section>









    <h3>incl: service-post</h3>
<ul>
  {%- for post in collections.postsFolder %}
  <li>
  <a href="{{ post.url }}">
  {{ post.data.title }}
  </a>
  </li>
  {%- endfor %}
</ul>


    {% include "footer.njk" %}
  </body>

</html>